<header>
  <h3> Trabalho Fernando Pogramação Orientada a Objetos(Pagina Pessoal)</h3>
</header>

<section>
  <div class="container-foto">
    <div class="pic">
      <img src="assets/pic.jpg">
      <div class="redes-sociais">
        <a href="https://www.linkedin.com/in/carol-cedro-37a361208/" target="_blank"><i
          class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/cedrocarol/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/ccedroo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://github.com/CarolinaCedro" target="_blank"><i class="fa-brands fa-github"></i></a>


      </div>
    </div>

  </div>
  <div class="container-info">
    <h1>Sobre a Carol 🌻</h1>
    <div class="container-about-me">
      <p>Ana Carolina, ou <b>Carol</b>, é uma pessoa fascinante e multifacetada. Ela tem uma paixão pela programação,
        mesmo que às vezes encontre desafios em seu caminho. Sua perseverança e amor pela tecnologia a motivam a
        continuar aprendendo e evoluindo. Além disso, Carol é uma grande fã da banda de K-Pop <b>Blackpink</b> , admirando sua
        energia e talento incrível.</p>
      <br>
      <p>Seu signo é <b>Capricórnio </b>, e isso a torna uma pessoa confiável, ambiciosa e determinada. Ela é uma pessoa que
        sempre busca melhorar em tudo o que faz. Carol também adora gatos, mas não é fã de pelos. Ela se dedica a manter
        seus amigos felinos bem limpos e arrumados.</p>
      <br>
      <p>Apesar de gostar de dias ensolarados, Carol <b>não gosta de tomar sol</b> e prefere ficar na sombra. <b> Ela adora música
        melancólica, não porque se sente triste, mas porque acredita que as emoções são importantes e valiosas</b>. No
        entanto, ela não se considera uma pessoa depressiva, mas sim alguém que valoriza as emoções e a capacidade de
        sentir profundamente.</p>
      <br>
      <p>Carol tem uma forte aversão a pessoas que falam alto ou fazem piadas ofensivas, porque acredita que o respeito
        e a empatia são fundamentais em todas as interações sociais. Além disso, ela é uma grande entusiasta de
        videogames, apesar de <b>não ser muito boa neles</b>. Ela adora desafios e a sensação de superar obstáculos.</p>
      <br>
      <p>Além de ser apaixonada por tecnologia e K-Pop, <b>Carol é uma pessoa extremamente divertida e animada</b>. Ela é o
        tipo de pessoa que sempre encontra uma maneira de animar os outros, mesmo nos dias mais difíceis. <b>
          No entanto,
          ela também pode ser difícil de lidar em alguns momentos, pois é muito exigente consigo mesma e com os outros.
        </b>
        Mas isso não significa que ela não tenha um coração bom - pelo contrário, ela é incrivelmente <b>generosa e
          solidária</b> com aqueles que ama.</p>
      <br>
      <p> <b>Carol é uma pessoa complexa e interessante, com muitas camadas e nuances</b>. Ela é capaz de rir de si mesma e não
        leva as coisas muito a sério, mas também é muito dedicada e séria em relação às suas paixões e objetivos. É essa
        combinação única de características que torna Carol uma pessoa tão especial e valiosa.</p>
      <br>
      <p>Finalmente, Carol acredita que o mundo ideal seria aquele em que não precisaria acordar cedo para <b>trabalhar</b> rs. Ela sonha em ter
        tempo suficiente para se dedicar a seus hobbies, estar com sua família e amigos, viajar e explorar o mundo.</p>
    </div>

  </div>
</section>
